<div class="{{ cssClass }}" id="{{ containerId }}"
     data-target-post-url="{{ path('dnd_file_upload_filepost') }}"
     data-upload-slots-div="{{ containerId }}-upload-slots"
     data-center-text-div="{{ containerId }}-center-text"
     data-allowed-extensions="{{ supportedMimeTypesSerialized }}">
    <div id="{{ containerId }}-center-text">
        <h2>upload</h2>
    </div>
    <div id="{{ containerId }}-upload-slots"></div>
</div>

<div class="upload-slot-template" data-file-upload-selector=".{{ cssClass }}">{{ uploadSlotTemplate|raw }}</div>

